body{
  background-color: white;
  color: white;
}

header{
  font-family: 'Avenir', Helvetica, sans-serif;
}

@font-face {
  font-family: 'Avenir';
  src: url('/data/fonts/Metropolis-Medium.otf') format("opentype");
}

.svg-container {
    position: absolute;
}

.svg-image {
  position: relative;
  top: 0;
  left: 0;
  width: 85px;
  height: 100%;
  transition: opacity 0.2s linear;
  opacity:1;
}

@media only screen and (max-width: 300px){
  .svg-image {
    opacity:0;
    transition: opacity 0.2s linear;
  }
}

.text-header {
  color: #207EA9
}

.about-div {
  background-image: url(/data/images/img-3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 45vw;
  max-width:100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-carousel-image1{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
  background-image:url('../data/images/img-1.jpg');
}

.home-carousel-image2{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
  background-image:url('../data/images/img-2.jpg');
}

.home-carousel-image3{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
  background-image:url('../data/images/img-3.jpg');
}


