body{
  background-color: #2F2E2E;
  color: white;
  font-family: 'metropolis', sans-serif;
}

@font-face {
  font-family: 'metropolis';
  src: url(../data/fonts/Metropolis-Medium.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolis';
  src: url(../data/fonts/Metropolis-Bold.otf) format('opentype');
  font-weight:bold;
  font-style:normal;
}
@font-face {
  font-family: 'metropolis';
  src: url(../data/fonts/Metropolis-Light.otf) format('opentype');
  font-weight:lighter;
  font-style:normal;
}
@font-face {
  font-family: 'metropolis';
  src: url(../data/fonts/Metropolis-RegularItalic.otf) format('opentype');
  font-weight:normal;
  font-style:italic;
}


header{
  font-family: 'metropolis', sans-serif;
}

.svg-container {
    position: absolute;
}

.svg-image {
  position: relative;
  top: 0;
  left: 0;
  width: 85px;
  height: 100%;
  transition: opacity 0.2s linear;
  opacity:1;
}

@media only screen and (max-width: 300px){
  .svg-image {
    opacity:0;
    transition: opacity 0.2s linear;
  }
}

@media only screen and (min-width:768px){
  .nav-divider{
    display:none;
  }
  .nav-languages{
    position: absolute;
    top:23px;
    left:100%;
    margin-left:10px;
    
  }
}


.vl{
  border-left:solid #CCCCCC;
  height:40px;
}

.text-header {
  color: #207EA9
}

.about-div {
  background-image: url(/data/images/img-3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 45vw;
  max-width:100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-carousel-image1{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
  background-image:url('../data/images/img-1.jpg');
}

.home-carousel-image2{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
  background-image:url('../data/images/img-2.jpg');
}

.home-carousel-image3{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
  background-image:url('../data/images/img-3.jpg');
}



.img-zoom, .img-zoom2 {
  transform-origin: center center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#img-container, #img-container2 {
  overflow: hidden;
  height:100%;
  width: 100%;
}

.pop1, .pop2 {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}



