.icon-comfort2-active:before {
    content: "\e907";
    color: rgb(51,153,204);
}

.icon-comfort2-inactive:before {
    content: "\e907";
    color: rgb(232,232,232);
}

.icon-heart2-active:before {
    content: "\e908";
    color: #c0392b;
}

.icon-heart2-inactive:before {
    content: "\e908";
    color: rgb(232,232,232);
}

.icon-appetizer:before {
    content: "\e90a";
}
.icon-dessert:before {
  content: "\e900";
  font-weight: normal;
}
.icon-dinner:before {
  content: "\e905";
}
.icon-lunch:before {
  content: "\e906";
}
.icon-breakfast:before {
  content: "\e924";
}

.icon-salad:before {
    content: "\e904";
  }

  .icon-soup:before {
    content: "\e912";
  }
  .icon-wraps:before {
    content: "\e913";
  }
  
  .icon-bread:before {
    content: "\e926";
  }
  .icon-pizza:before {
    content: "\e914";
  }

  .icon-flemish:before {
    content: "\e915";
  }
  .icon-mediterranian:before {
    content: "\e916";
  }
  .icon-albanian1:before {
    content: "\e918";
    color: rgb(189, 31, 52);
  }
  .icon-albanian2:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(1, 1, 1);
    position: relative;
    font-weight: normal;
  }
  .icon-italian1:before {
    content: "\e91a";
    color: rgb(61, 148, 72);
  }
  .icon-italian2:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(244, 244, 244);
    position: relative;
  }
  .icon-italian3:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(216, 30, 52);
    position: relative;
  }
  .icon-mexican:before {
    content: "\e91d";
  }
  
  
  .icon-asian1:before {
    content: "\e90d";
    color: rgb(255, 255, 255);
    font-weight: normal;
  }
  .icon-asian2:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(67, 75, 86);
    position: relative;
    font-weight: normal;
  }
  .icon-asian3:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(172, 210, 99);
    position: relative;
    font-weight: normal;
  }
  .icon-asian4:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(67, 75, 86);
    position: relative;
    font-weight: normal;
  }
  .icon-asian5:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(249, 186, 143);
    position: relative;
    font-weight: normal;
  }
  .icon-asian6:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(67, 75, 86);
    position: relative;
    font-weight: normal;
  }
  .icon-asian7:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(67, 75, 86);
    position: relative;
  }
  .icon-asian8:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(67, 75, 86);
    position: relative;
  }

  .icon-cookie:before {
    content: "\e909";
  }
  .icon-cake:before {
    content: "\e90b";
  }
  .icon-pie:before {
    content: "\e90c";
  }
  .icon-waffle:before {
    content: "\e90e";
  }
  .icon-etc:before {
    content: "\e910";
  }
  .icon-brownie:before {
    content: "\e901";
  }
  .icon-croissant:before {
    content: "\e902";
  }
  .icon-ice:before {
    content: "\e903";
  }

  .icon-appetizer1:before {
    content: "\e927";
  }
  .icon-drink:before {
    content: "\e928";
  }
  .icon-starter:before {
    content: "\e929";
  }