.picture {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-circle {
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.img-container {
    height:0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
